//Variabler
$lightBlue:                #8cbbdd;
$textColor:                #333333;
$secondTextColor:          #727272;
$complementary:            #34648f;
$lightGrey:                #f2f2f2;
$primaryButton:            #6eb556;
$primaryButtonMouseOver:   #4aa22c;
$secondaryButton:          #3386c3;
$secondaryButtonMouseOver: #0068b4;
$advancedSearch:           #fcfcfc;
$tableBorder:              #c9c9c9;
$grundfosBlue:             #11497c;

//Reset
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

//Fonte
@font-face {
font-family: MyWebfont;
src: url(GrundfosTheSansV2SemiLight.woff2) format(”woff2”);
}

@font-face {
font-family: MyWebfont;
src: url(GrundfosTheSansV2SemiLight.woff) format(”woff”);
}

@font-face {
font-family: MyWebfont;
src: url(GrundfosTheSansV2SemiLight.eot);
}

@font-face {
font-family: MyWebfont;
src: url("GrundfosTheSansV2SemiLight.svg#GrundfosTheSansV2SemiLight") format("svg");
}

header {
  background-color: $grundfosBlue;
  padding: 0 50px;
  .top {
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-top: 5px;
      li {
        color: #8cbbdd;
        margin-left: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        img {
          width: 13px;
          margin-right: 5px;
        }
        i.fa-angle-down {
          margin-left: 5px;
          color: white;
        }
        i.fa-user {
          margin-right: 5px;
          color: white;
        }
      }
    }
  }
  .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0 20px 0;
    input {
      width: 275px;
      border: none;
      padding: 10px;
      background: #246198;
      color: #6a9bc6;
    }
  }
}

nav.mainNav {
  background: #dcdcdc;
  border-bottom: 1px solid #cacaca;
  padding-left: 35px;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0 15px;
    li {
      margin-right: 20px;
      padding: 15px 5px;
      &:hover {
        background-color: #f5f5f5;
      }
      a {
        color: black;
      }
    }
    .active {
      border-bottom: 4px solid #3587c3;
    }
  }
}

.breadcrumbs {
  padding: 20px 0 0 50px;
  a, span {
    color: #727272;
    font-size: 13px;
  }
}


.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  aside {
    width: 25%;
    padding: 20px 0 0 50px;
    h1, h2 {
      margin-bottom: 10px;
    }
    nav.sideNav {
      ul {
        list-style-type: none;
        li {
          border-top: 1px solid #ddd;
          padding: 10px 0;
          color: #727272;
          &:hover {
            background-color:white;
            cursor: pointer;
          }
          &:last-child {
            margin-bottom: 20px;
          }
          a {
            color: #727272;
            display: block;
            width: 100%;
            height: 100%
          }
        }
      }
    }
  }

  .sideNav ul li.active{
      background-color: #127bbd;
      color: white;
      padding: 10px 5px;
      &:hover {
        background-color: #127bbd;
        color: white;
        padding: 10px 5px;
      }
  }

  .search-my-material {
    margin-left: 15px;
    vertical-align: bottom;
  }

  main {
    width: 75%;
    margin: 57px 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 50px;
    .module {
      width: 48%;
      border: 1px solid #c9c9c9;
      margin-bottom: 25px;
      background-color: white;
      h3 {
        background: #dedede;
        border-bottom: 1px solid #c9c9c9;
        padding: 15px;
        text-transform: uppercase;
        font-size: 1em;
      }
      p {
        padding: 10px 0 10px 15px;
      }
      .module-search {
        padding: 10px 15px 10px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        input {
          padding: 10px;
          width: 90%;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .large-module {
      width: 100%;
      .marketing-module-flex {
        display: flex;
        .marketing-module-myMaterial {
          width: 50%;
          padding: 15px;
          h4 {
            text-transform: uppercase;
            margin: 30px 0 20px 0;
            display: flex;
            align-items: center;
            span.h4-notifikation {
              background-color: red;
              color: white;
              height: 18px;
              width: 18px;
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              margin-left: 10px;
            }
          }
          .img-grid {
            display: flex;
            flex-wrap: wrap;
            .img-wrapper {
              border: 1px solid #c9c9c9;
              width: 100px;
              height: 100px;
              margin-right: 20px;
              position: relative;
              &:hover .notifikation{
                opacity: 1;
              }
              img {
                width: 98px;
                height: 98px;
                transition: opacity .4s ease;
                &:hover {
                  opacity: .5;
                  cursor: pointer;
                }
              }
              .notifikation {
                position: absolute;
                top: 40%;
                left: 42%;
                background-color: red;
                color: white;
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                opacity: 0;
                transition: opacity .4s ease;
                cursor: pointer;
                &:hover ~ img {
                  opacity: .5;
                }
              }
              &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                margin-top: 20px;
              }
            }
            section:nth-child(3){
              margin: 0;
            }
          }
          .secondaryAction {
            float: none;
          }
        }

        .marketing-module-inspiration {
          width: 50%;
          padding: 15px;
          h4 {
            text-transform: uppercase;
            margin: 30px 0 20px 0;
            display: flex;
            align-items: center;
            span.h4-notifikation {
              background-color: red;
              color: white;
              height: 18px;
              width: 18px;
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              margin-left: 10px;
            }
          }
          .inspiration-box {
            border: 1px solid #c9c9c9;
            height: 100px;
            display: flex;
            position: relative;
            &:nth-child(3) {
              margin-top: 20px;
            }
            &:hover img, &:hover .inspiration-box-text{
              opacity: .2;
            }
            &:hover button {
              opacity: 1;
            }
            img {
              height: 90px;
              width: 90px;
              align-self: center;
              transition: opacity .4s ease;
            }
            button {
              position:absolute;
              align-self: center;
              left: 40%;
              float: none;
              margin: 0;
              opacity: 0;
              cursor: pointer; //TILFØJ TIL ALLE secondaryAction
              transition: opacity .4s ease;
              text-transform: capitalize;
            }
            .inspiration-box-text {
              transition: opacity .4s ease;
              p {
                padding: 6px 0 0 0;
                &:first-child {
                  text-transform: uppercase;
                  padding-top: 15px;
                }
              }
            }
          }
          .secondaryAction {
            float: none;
          }
        }
      }
    }
  }
}

footer {
  background-color: $grundfosBlue;
  padding: 20px 50px;
  .be-think-innovate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-bottom: 1px solid #33648f;
    img {
      margin-bottom: 15px;
    }
  }
  .contact {
    h4 {
      color: white;
      margin: 10px 0;
    }
    ul {
      list-style-type: none;
      margin-bottom: 10px;
      li {
        color: #72a1cf;
      }
    }
    a {
      color: #8cbbdd;
      display:block;
      margin: 50px;
    }
  }
}
